/*
div * {
  border: 1px solid red;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

a {
  color: azure;
}
body,html {
  margin: 0px; 
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  height: 100%;
}

.card_holder {
  display: grid;
  grid-template-columns: 20vw auto 20vw;
  grid-template-rows: 1fr 60vh 1fr;
  height: 100%;
  width: 100%;
}

.card {
  display: grid;
  z-index: 0;
  grid-column: 2/2;
  grid-row: 2/2; 
  grid-template-columns: 40% auto;
  grid-template-rows: 0px auto;
  grid-column-gap: 10px;
  background-color:white;
  border-radius: 25px;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card_list {
  display: flex;
  flex-direction: column;
  justify-content: top;
  grid-column: 2/3;
  margin: 10px;
}

.card_images {
  position: relative;
  display: flex;
  align-content: center;
  grid-column: 1/2;   
  border-radius: 25px 0px 0px 25px;
  overflow: hidden;
  background-image: url(images/bg-pattern-desktop.svg);
  background-position: -100px 0px ;
  background-size: 400px 400px;
  background-repeat: no-repeat;
  padding: 20px 0px;
}

#image1 {
  position: relative; 
  z-index: 2;
  top: 180px;
  left: -100px;
}

#image2 {
  position: relative; 
  z-index: 1;
  left: -100px; 
}

#image2 img {
  position: absolute;
  top: -50px;
  bottom: 0;
  margin: auto;
}

#image3 {
  position: relative; 
  height: 50px;
}

#image2 img {
  width: 400px;
}

/* Style for the accordion */

.faq-container {
  
}
.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 400ms;
  margin: 15px;
}

.question {
  font-size: 12px;
  font-weight: bold;
  flex-shrink: 0;
}

.question-icon.active {
  transform: rotate(180deg);
}

.answer {
  font-size: 12px;
  max-height: 0;
  flex-grow: 2;
  overflow: hidden;
  transition: 400ms;
}

.answer.active {
  max-height: 200px;
}


/* CSS rules for the footer */

.footer {
  position: fixed;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: xx-small;
  background-color: rgba(255, 255, 255, 0.1);
}