div * {
  border: 1px solid red;
}

body,html {
  margin: 0px; 
  height: 100%;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-repeat: no-repeats;
}

img {
  max-width:100%;
  height:auto;
}

.card_holder {
  display: grid;
  grid-template-columns:  25% auto 25%;
  grid-template-rows:  25vh auto 25vh;
}

.card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
  background-color: aqua;
  grid-column: 2 / 2;
  grid-row: 2 / 2; 
  padding: 30px;
  border-radius: 25px;
}

.card_list {
  grid-column: 2/3;
  background-color: whitesmoke;
  
}

.card_images {
  position: relative
  display: flex;
  align-items: center;
  grid-column: 1/2;
  border-radius: 25px 0px 0px 25px
  background-color: chocolate;
  background-image: ;
  background-repeat: no-repeat;
  background-position-x: top left;
  height: 100%;
}

#image1 {
  position: relative; 
  z-index: 1;
  left: -130px;
  top: 30%;
}

#image2 {
  position: relative; 
  z-index: 1;
  left: 0px; 
}

/* CSS rules for the footer */

.footer {
  position: fixed;
  padding: 10px;
  left: 0vw;
  bottom: 0vh;
  width: 100%;
  color: white;
  text-align: center;
  font-size: xx-small;
  background-color: rgba(255, 255, 255, 0.1);
}